{% extends "base.html" %}
{% block title %}About Me{% endblock %}

{% block content %}

<div class="page">
    <div class="container-for-form">
        <div class="header-in-form">
            <p>Hi!</p>
            <p>If you're anything like me, you hate the cold.</p>
            <p> I'm from Trinidad and Tobago, which means that I grew up in the tropics.</p>
            <p>So I built this so that we can navigate lovely UWaterloo in the warmth of the indoors!</p>
            <p>I hope you find this as useful as I do. Good luck out there.</p>

        </div>
    </div>
</div>

{% endblock content %}
